{{define "content"}}
<form id="secretForm" class="p-3 form-signin">
  <h6 class="px-1 py-3 font-weight-normal">Enter passphrase for the requested secret</h6>
  <div class="mb-3 form-group">
    <input type="password" name="passphrase" class="form-control" autocomplete="off" placeholder="passphrase"
      required autofocus />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary w-100" id="secretSubmitBtn">
      <span id="secretSubmitBtnText">Decrypt Secret</span>
    </button>
  </div>
</form>
{{end}}
